---

import { Image } from 'astro:assets';

import img1 from '../../images/jhon-boy-lava-circular-1.webp';
import img2 from '../../images/jhon-boy-lava-circular-2.webp';
import img3 from '../../images/jhon-boy-lava-circular-3.webp';
import img4 from '../../images/jhon-boy-lava-circular-4.webp';
import img5 from '../../images/jhon-boy-lava-circular-5.webp';
import img6 from '../../images/jhon-boy-lava-circular-6.webp';
import img7 from '../../images/jhon-boy-lava-circular-7.webp';
import img8 from '../../images/jhon-boy-lava-circular-sketches-1.webp';
import img9 from '../../images/jhon-boy-lava-circular-sketches-13.webp';
import img10 from '../../images/jhon-boy-lava-circular-sketches-14.webp';
import img11 from '../../images/jhon-boy-lava-circular-sketches-3.webp';
import img12 from '../../images/jhon-boy-lava-circular-sketches-4.webp';
import img13 from '../../images/jhon-boy-lava-circular-sketches-5.webp';
import img14 from '../../images/jhon-boy-lava-circular-sketches-6.webp';
import img15 from '../../images/jhon-boy-lava-circular-sketches-7.webp';
import img16 from '../../images/jhon-boy-lava-circular-sketches-8.webp';
import img17 from '../../images/jhon-boy-lava-circular-sketches-9.webp';
import img18 from '../../images/jhon-boy-lava-circular-sketches-10.webp';
import img19 from '../../images/jhon-boy-lava-circular-sketches-11.webp';
import img20 from '../../images/jhon-boy-lava-circular-sketches-12.webp';

---

<script>
document.addEventListener('DOMContentLoaded', () => {
  lavaSlider();
});

function lavaSlider() {
  let slideIndex = 1;
  showDivs(slideIndex);

  function showDivs(n: number) {
    const x = document.getElementsByClassName("mySlides") as HTMLCollectionOf<HTMLElement>;
    
    if (x.length === 0) {
      console.error("No elements with the class 'mySlides' found.");
      return;
    }

    // Ajustar el índice del slide si está fuera del rango
    if (n > x.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = x.length;
    }

    // Ocultar todos los slides
    for (let i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }

    // Mostrar el slide actual
    x[slideIndex - 1].style.display = "block";
  }

  (window as any).plusDivs = function (n: number) {
    showDivs(slideIndex += n);
  };
}
 </script>

<section class="project-container" id="lava-container">
  <div class="project-container-top">
    <p>BRANDING, ANIMATION, VISUAL IDENTITY</p>
    <p>◷ 4 MIN READ</p>
  </div>
  <div class="project-container-mid lava">
    <p>
      <u>LAVA CIRCULAR</u>
      <br> 
      Interdisciplinary Cultural Circuit on the Island of El Hierro (Canary Islands). Active since 2017, it offers a journey to discover the territory by visiting its three municipalities (Valverde, El Pinar, and La Frontera)
      through evolving itineraries where the program unfolds; musical projects, workshop-talks, and artistic actions that revolve around the traditional and contemporary culture of the Canary archipelago, varying its main themes in each edition.<br><br>
      Various creatives present projects and initiatives that energize unique locations on the island itself. A close encounter and participatory event that generates exchanges of knowledge among participant-artists, attendees, and local residents.
    </p>
    <div class="lottie-container lazy-lottie" style="grid-column-start: 1; grid-column-end: 2; height: 100%; aspect-ratio: 16 / 12">
      <dotlottie-player src="/animations/lava-loom.json" speed="1" loop autoplay style=""></dotlottie-player>
    </div>
    <p>
      <u>PROJECT GOALS(I)</u><br>
      The Canary Islands have a rich history spanning thousands of years, with indigenous
      civilisations predating European arrival in the 15th century. While the territory and its people
      have evolved over time through cultural exchanges, the essence remains rooted in this mix.
      Despite limited evidence of this past in the modern era, preserving our heritage is crucial.
      Santana Santana, from Gran Canaria, approached me to explore our ancestral history,
      recognising the importance of understanding our roots for shaping the future. <br><br>
      We aimed to depict the three primary traditional trades in El Hierro: drum artisans, weaver
      artisans, and cheese artisans. These occupations were central to the island's economy in the
      mid-20th century and symbolise its cultural heritage.
    </p>
    <br>
    <div class="lava-img">
      <Image class="lazy-image" src={img3} alt="Hand of a person holding a Lava Circular Jhon Boy plastic glass" width={1080} height={1623} />
      <Image class="lazy-image" src={img1} alt="Lava Circular poster set up in the middle of a forest" width={1000} height={1503} />
      <Image class="lazy-image" src={img2} alt="People talking in front of a Lava Circular Jhon Boy poster" width={1000} height={1503} />
    </div>
    <p>
      <u>PROJECT GOALS(II)</u><br>
      We watched numerous videos of artisans at work and endeavoured to distill their movements
      into minimal expressions. Rafa had a keen eye for this and was able to replicate it while also
      considering the composition of the drawings, playing with all elements within each scene to
      convey a sense of coherence.
    </p>
    <br>
    <div class="lottie-container lazy-lottie" style="grid-column-start: 1; grid-column-end: 2; height: 100%; aspect-ratio: 9 / 12">
      <dotlottie-player src="/animations/lava-milkmaid.json" speed="1" loop autoplay></dotlottie-player>
    </div>
    <p>
      <u>GRAPHIC ELEMENTS</u>
      <br> 
      In addition to the captivating animations and illustrations, typography assumes a
      pivotal role in shaping the overall visual narrative. Employing the Droulers font —crafted
      by the esteemed Bureau Brut foundry—, adds a distinct layer of character to the
      composition. This monospaced typeface exudes a remarkable personality,
      distinguished by its intricate ornamental flourishes. These embellishments not only
      lend a touch of sophistication but also forge a compelling visual interplay, seamlessly
      juxtaposing the illustrations' language with an undeniable coherence.
    <br>
    </p>
    <br>
    <div class="lava-img-2">
      <Image class="lazy-image" src={img5} alt="A ticket stand in front of the ocean" width={750} height={1334} />
      <Image class="lazy-image" src={img4} alt="Lava Circular Jhon Boy poster in the interior of a cabin bar" width={750} height={1334} />
      <Image class="lazy-image" src={img7} alt="Hands opening a small flyer book with a Jhon Boy drawing on it" width={1080} height={1623} />
      <Image class="lazy-image" src={img6} alt="Person carrying a Jhon Boy Lava Circular totebag" width={1000} height={1503} />

    </div>
    <p>
      <u>DRAWING</u>
      <br>
      One of the primary challenges in the illustration aspect was infusing a sense of playfulness.
      Working with a limited color palette compelled me to focus on body shapes for expression. I
      opted for slightly thicker and larger bodies, as individuals from rural areas are often robust and
      sturdy. This deliberate disproportionality aimed to capture their physical presence
      authentically.<br><br>
      To inject a playful vibe, I experimented with perspectives, resulting in drawings that feel
      whimsically odd yet visually coherent. Notably, the characters' faces are not visible,
      emphasising their profession or activity, adding an intriguing layer to the illustrations.
    </p>
    <div class="lottie-container lazy-lottie" style="grid-column-start: 1; grid-column-end: 2; height: 100%; aspect-ratio: 9 / 12">
      <dotlottie-player src="/animations/lava-drum.json" speed="1" loop autoplay></dotlottie-player>
    </div>
    <p>
      <u>SKETCHES</u>
      <br>
      One particularly beautiful and interesting aspect was the process of creating the illustrations.
      Many of them were drawn during my time in La Gomera. I decided to spend the
      summer exploring the island and stayed in a sustainable cabin in the heart of Valle Hermoso.
      Each night, we were serenaded by the chirping of crickets, fully immersed in nature. I often
      found myself sketching by the sea, accompanied by the rhythmic crash of waves, or amidst the
      tranquil mountains.<br><br>
      My grandfather belonged to the last
      generation of residents in Las Palmas de Anaga, one of Tenerife's most remote villages. Growing
      up, I witnessed firsthand the toil of rural life—watching my grandfather craft cheese and
      observing elders weaving fabrics or carrying potato bags. This upbringing deeply roots me in
      the land and its traditions.
    </p>
    <br>
    <br>
    <div class="lava-sketches">
      <button style="font-size: 15px; outline: none; background-color: white; padding: 0; border: 0;" onclick="plusDivs(-1)">&lt;</button>
      <div class="w3-content w3-display-container">
        <Image src={img12} alt="Sketch of a drum artisan making a drum" width={1389} height={1000} class="mySlides lazy-image"/>
        <Image src={img17} alt="Sketches of drums and canarian instruments" width={1389} height={1000} class="mySlides lazy-image"  />
        <Image src={img10} alt="Sketches of canarian cheese" width={1389} height={1000} class="mySlides lazy-image" />
        <Image src={img11} alt="Sketches of a milkmaid making cheese" width={1389} height={1000} class="mySlides lazy-image"  />
        <Image src={img8}  alt="Sketches of the process of making canarian cheese with a milkmaid" width={1389} height={1000} class="mySlides lazy-image" />
        <Image src={img13} alt="Sketches of diverse canarian traditional elements" width={1389} height={1000} class="mySlides lazy-image" />
        <Image src={img14} alt="Sketches of a man crafting cheese and a table with food" width={1389} height={1000} class="mySlides lazy-image" />
        <Image src={img15} alt="Sketches of a traditional canarian basketmaker and baskets" width={1389} height={1000} class="mySlides lazy-image" />
        <Image src={img16} alt="Sketches of a loom artisan working" width={1389} height={1000} class="mySlides lazy-image" />
        <Image src={img9}  alt="Sketches of a basket artisan working" width={1389} height={1000} class="mySlides lazy-image" />
        <Image src={img18} alt="Sketches of a traditional bag of El Hierro" width={1389} height={1000} class="mySlides lazy-image" />
        <Image src={img19} alt="Sketches of a traditional bag of El Hierro with flowers" width={1389} height={1000} class="mySlides lazy-image" />
        <Image src={img20} alt="Sketches of a milkmaid making traditional canarian cheese" width={1389} height={1000} class="mySlides lazy-image" />
      </div>
      <button style="font-size: 15px; outline: none; background-color: white; padding: 0; border: 0;" onclick="plusDivs(+1)">&gt;</button>   
    </div>
    <br>
    <br>
    <p style="grid-column-start: 1; grid-column-end: 2;">
    <u>PROJECT</u>
    <br>
    <a href="http://lavacircular.com" target="blank">
      <u>Lava Circular</u>
    </a>
    <br>
    <br>
    <u>ORGANIZERS</u>
    <br>
    <a href="http://hisla.org" target="blank">
      <u>Hisla</u>
    </a>
    <br>
    <br>
      <u>ART DIRECTION</u>
      <br>
      <a href="https://santanasantana.es" target="blank">
        <u>Santanasantana Studio</u>
      </a>
      <br>
      <br>
      <u>ANIMATION</u>
      <br>
      <a href="https://www.instagram.com/rjgrullon/" target="blank">
        <u>Rafael Grullón</u>
      </a>
      <br>
      <br>
      <u>PHOTOGRAPHY</u>
      <br>
      <a href="https://www.adririos.com" target="blank">
        <u>Adrián Ríos</u>
      </a>
      <br>
      <br>
    </p>
  </div>
  <div class="project-container-bot">
    <a id="lavaCloseLink" href="/works?from=details">
      <u>CLOSE</u>
    </a>
  </div>
</section>