---
import { Image } from 'astro:assets';
import LottieAnimation from "astro-integration-lottie/Lottie.astro";

const { projectData } = Astro.props;
---
<main>
  <article class="project-container" id="lava-container">

    <!-- Encabezado del Proyecto -->
    <header class="project-header">
      <p>BRANDING, ANIMATION, VISUAL IDENTITY</p>
      <p>◷ 4 MIN READ</p>
    </header>

    <!-- Contenido Principal del Proyecto -->
    <section class="project-container-mid lava">
      <h1>LAVA CIRCULAR</h1>
      <p>
        Interdisciplinary Cultural Circuit on the Island of El Hierro (Canary Islands). Active since 2017, it offers a journey to discover the territory by visiting its three municipalities (Valverde, El Pinar, and La Frontera) through evolving itineraries where the program unfolds; musical projects, workshop-talks, and artistic actions that revolve around the traditional and contemporary culture of the Canary archipelago, varying its main themes in each edition.
      </p>
      <p>
        Various creatives present projects and initiatives that energize unique locations on the island itself. A close encounter and participatory event that generates exchanges of knowledge among participant-artists, attendees, and local residents.
      </p>

      <!-- Animaciones Lottie -->
      {projectData.lottieAnimations.slice(0, 1).map(animation => (
        <div
          class="lottie-container lazy-lottie"
          style={`grid-column-start: 1; grid-column-end: 2; height: 100%; aspect-ratio: ${animation.aspectRatio}`}
          aria-label={animation.ariaLabel}
        >
          <LottieAnimation src={animation.src}/>
        </div>
      ))}

      <!-- Sección de Imágenes -->
      <section aria-labelledby="project-goals-i">
        <h2>PROJECT GOALS (I)</h2>
        <p>
          The Canary Islands have a rich history spanning thousands of years, with indigenous civilisations predating European arrival in the 15th century. While the territory and its people have evolved over time through cultural exchanges, the essence remains rooted in this mix. Despite limited evidence of this past in the modern era, preserving our heritage is crucial. Santana Santana, from Gran Canaria, approached me to explore our ancestral history, recognising the importance of understanding our roots for shaping the future.
        </p>
        <p>
          We aimed to depict the three primary traditional trades in El Hierro: drum artisans, weaver artisans, and cheese artisans. These occupations were central to the island's economy in the mid-20th century and symbolise its cultural heritage.
        </p>

        <div class="lava-img">
          {projectData.images.slice(0, 3).map(image => (
            <Image
              class="lazy-image"
              src={image.src}
              alt={image.alt}
              width={image.width}
              height={image.height}
            />
          ))}
        </div>
      </section>

      <!-- Otra Sección -->
      <section aria-labelledby="project-goals-ii" style="height: max-content;">
        <h2>PROJECT GOALS (II)</h2>
        <p>
          We watched numerous videos of artisans at work and endeavoured to distill their movements into minimal expressions. Rafa had a keen eye for this and was able to replicate it while also considering the composition of the drawings, playing with all elements within each scene to convey a sense of coherence.
        </p>

        <!-- Otra Animación Lottie -->
        {projectData.lottieAnimations.slice(1, 2).map(animation => (
          <div
            class="lottie-container lazy-lottie"
            style={`grid-column-start: 1; grid-column-end: 2; height: 100%; aspect-ratio: ${animation.aspectRatio}`}
            aria-label={animation.ariaLabel}
          >
            <LottieAnimation src={animation.src} />
          </div>
        ))}
      </section>

      <!-- Sección de Elementos Gráficos -->
      <section aria-labelledby="graphic-elements" style="height: max-content;">
        <h2 id="graphic-elements">GRAPHIC ELEMENTS</h2>
        <p>
          In addition to the captivating animations and illustrations, typography assumes a pivotal role in shaping the overall visual narrative. Employing the Droulers font —crafted by the esteemed Bureau Brut foundry—, adds a distinct layer of character to the composition. This monospaced typeface exudes a remarkable personality, distinguished by its intricate ornamental flourishes. These embellishments not only lend a touch of sophistication but also forge a compelling visual interplay, seamlessly juxtaposing the illustrations' language with an undeniable coherence.
        </p>
        <div class="lava-img-2">
          {projectData.images.slice(3, 7).map(image => (
            <Image
              class="lazy-image"
              src={image.src}
              alt={image.alt}
              width={image.width}
              height={image.height}
            />
          ))}
        </div>
      </section>

      <!-- Sección de Dibujo -->
      <section aria-labelledby="drawing" style="height: max-content;">
        <h2 id="drawing">DRAWING</h2>
        <p>
          One of the primary challenges in the illustration aspect was infusing a sense of playfulness. Working with a limited color palette compelled me to focus on body shapes for expression. I opted for slightly thicker and larger bodies, as individuals from rural areas are often robust and sturdy. This deliberate disproportionality aimed to capture their physical presence authentically.
        </p>
        <p>
          To inject a playful vibe, I experimented with perspectives, resulting in drawings that feel whimsically odd yet visually coherent. Notably, the characters' faces are not visible, emphasising their profession or activity, adding an intriguing layer to the illustrations.
        </p>

        <!-- Otra Animación Lottie -->
        {projectData.lottieAnimations.slice(2, 3).map(animation => (
          <div
            class="lottie-container lazy-lottie"
            style={`grid-column-start: 1; grid-column-end: 2; height: 100%; aspect-ratio: ${animation.aspectRatio}`}
            aria-label={animation.ariaLabel}
          >
            <LottieAnimation src={animation.src} />
          </div>
        ))}
      </section>

      <!-- Sección de Bocetos -->
      <section aria-labelledby="sketches" style="height: max-content;">
        <h2 id="sketches">SKETCHES</h2>
        <p>
          One particularly beautiful and interesting aspect was the process of creating the illustrations. Many of them were drawn during my time in La Gomera. I decided to spend the summer exploring the island and stayed in a sustainable cabin in the heart of Valle Hermoso. Each night, we were serenaded by the chirping of crickets, fully immersed in nature. I often found myself sketching by the sea, accompanied by the rhythmic crash of waves, or amidst the tranquil mountains.
        </p>
        <p>
          My grandfather belonged to the last generation of residents in Las Palmas de Anaga, one of Tenerife's most remote villages. Growing up, I witnessed firsthand the toil of rural life—watching my grandfather craft cheese and observing elders weaving fabrics or carrying potato bags. This upbringing deeply roots me in the land and its traditions.
        </p>

        <!-- Carrusel de Bocetos -->
        <div class="lava-sketches">
          <button style="font-size: 1.2em; outline: none; background-color: white; padding: 0; border: 0; color: black;" onclick="plusDivs(-1)" aria-label="Previous Sketch">&lt;</button>
          <div class="w3-content w3-display-container">
            {projectData.sketches.map((sketch, index) => (
              <Image
                src={sketch.src}
                alt={sketch.alt}
                width={sketch.width}
                height={sketch.height}
                loading={index === 0 ? 'eager' : 'eager'}
                class={`mySlides ${index === 0 ? 'lazy-image' : ''}`}
              />
            ))}
          </div>
          <button style="font-size: 1.2em; outline: none; background-color: white; padding: 0; border: 0; color: black;" onclick="plusDivs(+1)" aria-label="Next Sketch">&gt;</button>
        </div>
      </section>

      <!-- Sección de Créditos -->
      <section class="project-credits" aria-labelledby="project-links">
        <h2 id="project-links">CREDITS</h2>
        <ul>
          {projectData.credits.map(credit => (
            <li>
              <h3>{credit.title}</h3>
              {credit.links.map(link => (
                <a href={link.href} target="_blank" rel="noopener">{link.name}</a>
              ))}
            </li>
          ))}
        </ul>
      </section>
    </section>

    <!-- Enlace de Cierre -->
    <footer class="project-container-bot">
      <a id="lavaCloseLink" href="/works?from=details">CLOSE PROJECT</a>
    </footer>

  </article>
</main>

<script is:inline>
document.addEventListener('DOMContentLoaded', () => {
  lavaSlider();
});

function lavaSlider() {
  let slideIndex = 1;
  showDivs(slideIndex);

  function showDivs(n) {
    const x = document.getElementsByClassName("mySlides");

    if (x.length === 0) {
      console.error("No elements with the class 'mySlides' found.");
      return;
    }

    if (n > x.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = x.length;
    }

    for (let i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }

    x[slideIndex - 1].style.display = "block";
  }

  window.plusDivs = function (n) {
    showDivs(slideIndex += n);
  };
}
</script>