---
import { Image } from 'astro:assets';
import LottieAnimation from "astro-integration-lottie/Lottie.astro";

// Recibe los datos del proyecto como props
const { projectData } = Astro.props;
---
<section class="project-container" id="flourly-container">
  <div class="project-container-top">
    <p class="text-left">BRANDING, ANIMATION, UX/UI</p>
    <p class="text-right">◷ 2 MIN READ</p>
  </div>
  <div class="project-container-mid flourly">
    <h1>WHAT IS FLOURLY</h1>
    <p>
      Flourly is a pet project that Bakken & Baeck started during the pandemic, when many of us hopped on the sourdough craze. 
      Designed as a mobile app, Flourly aims to make learning and experimenting with sourdough a fun and easy experience.
    </p>

    <div class="lottie-logo-container lazy-lottie lottie-container">
      <LottieAnimation src="/animations/flourly-logo.json" />
    </div>

    <h2>HOW DOES IT WORK</h2>
    <p>
      Baking with sourdough isn't easy: it takes time, effort and, above all, great precision. Flourly does all the calculations for you, 
      so that you don't have to worry about getting your measurements wrong and can instead focus on experimenting with different types of doughs.
    </p>

    <div class="slider-flourly lazy-lottie lottie-container">
      {projectData.lottieAnimations.map(animation => (
      <div class="slide-flourly" style={`aspect-ratio: ${animation.aspectRatio};`}>
          <LottieAnimation src={animation.src} class="animate-fade-in" />
      </div>
      ))}
    </div>
    <div class="slider-info" id="slider-info">
      1 / {projectData.lottieAnimations.length}
    </div>

    <h2>PROCESS</h2>
    <p>The primary objective was to seek an aesthetic that exuded playfulness and joy while maintaining a clean outcome. Flourly is an application designed to effortlessly determine the right amount of flour required, guaranteeing a tidy experience. Our creative exploration delved into the realm of flour and the intricate process of breadmaking.</p>
    <p>We put the focus on the ingredients, shapes, and central elements related to the baking process and made them interact with a principal character. Making bread is about transformation and uncertainty— we start with just three ingredients and, depending on how we work, this process can culminate in a distinct result. We believe that it was crucial for the illustrations to capture this spirit of experimentation, transformation, and unpredictability.</p>
    <div style="grid-column-start: 1; grid-column-end: 3;">
      <Image 
        src={projectData.mainImage.src} 
        class="lazy-image" 
        alt={projectData.mainImage.alt} 
        width={projectData.mainImage.width} 
        height={projectData.mainImage.height} 
      />
    </div>

    <h2>SKETCHES</h2>
    <p>From this point, we didn't want to be too attached to the concept, so we investigated shapes and abstract forms and built connections between the concepts via experimentation.</p>
    <div class="sketches">
      {projectData.sketches.map(sketch => (
        <Image 
          src={sketch.src} 
          class="lazy-image" 
          alt={sketch.alt} 
          width={sketch.width} 
          height={sketch.height} 
        />
      ))}
    </div>

    <section class="project-credits" aria-labelledby="project-links">
      <h2 id="project-links">CREDITS</h2>
      <ul>
        {projectData.credits.map(credit => (
          <li>
            <h3>{credit.title}</h3>
            {credit.links.map(link => (
              <a href={link.href} target="_blank" rel="noopener">{link.name}</a>
            ))}
          </li>
        ))}
      </ul>
    </section>
  </div>
  <div class="project-container-bot">
    <a id="flourlyCloseLink" href="/works?from=details">CLOSE PROJECT</a>
  </div>
</section>