---
import { Image } from 'astro:assets';

import illustrationFlourly from '../../images/jhon-boy-illustration-flourly-portfolio.svg';
import sketchFlourly1 from '../../images/jhon-boy-flourly-sketches-1.webp';
import sketchFlourly2 from '../../images/jhon-boy-flourly-sketches-2.webp';
import sketchFlourly3 from '../../images/jhon-boy-flourly-sketches-3.webp';

---
<section class="project-container" id="flourly-container">
  <div class="project-container-top">
    <p class="text-left">BRANDING, ANIMATION, UX/UI</p>
    <p class="text-right">◷ 2 MIN READ</p>
  </div>
  <div class="project-container-mid flourly">
    <p>
      <u>WHAT IS FLOURLY</u>
      <br> 
      Flourly is a pet project that Bakken & Baeck started during the pandemic, when many of us hopped on the sourdough craze. Designed as a mobile app, Flourly aims to make learning and experimenting with sourdough a fun and easy experience.
    </p>
    <div class="lottie-logo-container">
      <dotlottie-player class="animate-fade-in" style="opacity:0" src="/animations/flourly-logo.lottie" speed="1" loop autoplay></dotlottie-player>
    </div>    
    <p style="grid-column-start: 1; grid-column-end: 2;">
      <u>HOW DOES IT WORKS</u>
      <br>
      Baking with sourdough isn't easy: it takes time, effort and, above all, great precision. Flourly does all the calculations for you, so that you don't have to worry about getting your measurements wrong and can instead focus on experimenting with different types of doughs.
    </p>
    <div class="slider-flourly">
      <div class="slide-flourly">
        <dotlottie-player class="animate-fade-in" style="opacity:0" src="/animations/flourly-phone-flour.lottie" speed="1" loop autoplay></dotlottie-player>
      </div>
      <div class="slide-flourly">
        <dotlottie-player class="animate-fade-in" style="opacity:0" src="/animations/flourly-phone-water.lottie" speed="1" loop autoplay></dotlottie-player>
      </div>
      <div class="slide-flourly">
        <dotlottie-player class="animate-fade-in" style="opacity:0" src="/animations/flourly-phone-levain.lottie" speed="1" loop autoplay></dotlottie-player>
      </div>
    </div>
    <div class="slider-info" id="slider-info">
      1 / 3
    </div>
    <p>
      <u>PROCESS</u><br>
      The primary objective was to seek an aesthetic that exuded playfulness and joy while maintaining a clean outcome. Flourly is an application designed to effortlessly determine the right amount of flour required, guaranteeing a tidy experience. Our creative exploration delved into the realm of flour and the intricate process of breadmaking.<br><br> We put the focus on the ingredients, shapes, and central elements related to the baking process and made them interact with a principal character. Making bread is about transformation and  uncertainty— we start with just three ingredients and, depending on how we work, this process it can culminate in a distinct result.<br><br> We believe that it was crucial for the illustrations to capture this spirit of experimentation, transformation, and unpredictability.
    </p>
    <div  style="grid-column-start: 1; grid-column-end: 3;" >
      <Image src={illustrationFlourly} class="lazy-image" alt="hand playing with dough" />
    </div>
    <p>
      <u>CREATIVITY NOTES</u><br>
      From this point, we didn't want to be too attached to the concept, so we investigated shapes and abstract forms and built connections between the concepts via experimentation.
    </p>
    <div class="sketches" >
      <Image src={sketchFlourly1} class="lazy-image" width={2442} height={3480} alt="notebook with sketches for flourly project" />
      <Image src={sketchFlourly2} class="lazy-image" width={2442} height={3480} alt="notebook with sketches for flourly project" />
      <Image src={sketchFlourly3} class="lazy-image" width={2442} height={3480} alt="notebook with sketches for flourly project" />
    </div>
    <p style="grid-column-start: 1; grid-column-end: 2;">
      <u>CREATIVE DIRECTION</u>
      <br>
      <a href="https://www.instagram.com/olllllliie/" target="blank" ><u>Oliver O'Callaghan</u></a>
      <br>
      <a href="https://www.instagram.com/t___y___a/" target="blank" ><u>Tya Amelia</u></a>
      <br>
      <br>
      <u>PRODUCT DESIGN</u>
      <br>
      <a href="http://ndevalliere.com" target="blank" ><u>Nathalie de Vallière</u></a>
      <br>
      <br>
      <u>CREATIVITY</u>
      <br>
      <a href="https://www.maria-elba.com" target="blank" ><u>María-Elba García</u></a>
      <br>
      <br>
      <u>CHARACTER ANIMATION</u>
      <br>
      <a href="https://www.instagram.com/rjgrullon/" target="blank" ><u>Rafael Grullón</u></a>
      <br>
      <br>
      <u>LOGO/UI ANIMATION</u>
      <br>
      <a href="http://www.nicolasvittori.com" target="blank" ><u>Nicolas Vittori</u></a>
      <br>
    </p>
  </div>
  <div class="project-container-bot">
    <a id="flourlyCloseLink" href="/works?from=details"><u>CLOSE</u></a>
  </div>
</section>
<script>
document.addEventListener('DOMContentLoaded', function () {
  const slider = document.querySelector('.slider-flourly');
  const infoText = document.getElementById('slider-info');
  const slides = document.querySelectorAll('.slide-flourly');
  
  if (!slider || !infoText || slides.length === 0) {
    console.error("Error: Elementos necesarios no encontrados para el slider flourly.");
    return; // No ejecuta el resto del script si los elementos no existen
  }

  const totalSlides = slides.length;

  slider.addEventListener('scroll', () => {
    const scrollLeft = slider.scrollLeft;
    const slideWidth = slider.clientWidth;
    const currentSlideIndex = Math.round(scrollLeft / slideWidth);

    // Actualizar el texto con el número del slide visible
    infoText.textContent = `${currentSlideIndex + 1} / ${totalSlides}`;
  });
});
</script>
