---

import { Image } from 'astro:assets';

import img1 from '../../images/jhon-boy-lava-circular-1.webp';
import img2 from '../../images/jhon-boy-lava-circular-2.webp';
import img3 from '../../images/jhon-boy-lava-circular-3.webp';
import img4 from '../../images/jhon-boy-lava-circular-4.webp';
import img5 from '../../images/jhon-boy-lava-circular-5.webp';
import img6 from '../../images/jhon-boy-lava-circular-6.webp';
import img7 from '../../images/jhon-boy-lava-circular-7.webp';
import img8 from '../../images/jhon-boy-lava-circular-sketches-1.webp';
import img9 from '../../images/jhon-boy-lava-circular-sketches-13.webp';
import img10 from '../../images/jhon-boy-lava-circular-sketches-14.webp';
import img11 from '../../images/jhon-boy-lava-circular-sketches-3.webp';
import img12 from '../../images/jhon-boy-lava-circular-sketches-4.webp';
import img13 from '../../images/jhon-boy-lava-circular-sketches-5.webp';
import img14 from '../../images/jhon-boy-lava-circular-sketches-6.webp';
import img15 from '../../images/jhon-boy-lava-circular-sketches-7.webp';
import img16 from '../../images/jhon-boy-lava-circular-sketches-8.webp';
import img17 from '../../images/jhon-boy-lava-circular-sketches-9.webp';
import img18 from '../../images/jhon-boy-lava-circular-sketches-10.webp';
import img19 from '../../images/jhon-boy-lava-circular-sketches-11.webp';
import img20 from '../../images/jhon-boy-lava-circular-sketches-12.webp';

---
<main>
  <article class="project-container" id="lava-container">

    <!-- Project Header Section -->
    <header class="project-header">
      <p>BRANDING, ANIMATION, VISUAL IDENTITY</p>
      <p>◷ 4 MIN READ</p>
    </header>

    <!-- Main Project Content -->
    <section class="project-container-mid lava">
      <h1>LAVA CIRCULAR</h1>
      <p>
        Interdisciplinary Cultural Circuit on the Island of El Hierro (Canary Islands). Active since 2017, it offers a journey to discover the territory by visiting its three municipalities (Valverde, El Pinar, and La Frontera) through evolving itineraries where the program unfolds; musical projects, workshop-talks, and artistic actions that revolve around the traditional and contemporary culture of the Canary archipelago, varying its main themes in each edition.
      </p>
      <p>
        Various creatives present projects and initiatives that energize unique locations on the island itself. A close encounter and participatory event that generates exchanges of knowledge among participant-artists, attendees, and local residents.      </p>

      <!-- Lottie Animation -->
      <div class="lottie-container lazy-lottie" style="grid-column-start: 1; grid-column-end: 2; height: 100%; aspect-ratio: 16 / 12" aria-label="Lava Circular animation">
        <dotlottie-player src="/animations/lava-loom.json" speed="1" loop autoplay></dotlottie-player>
      </div>

      <!-- Project Goals Section -->
      <section aria-labelledby="project-goals-i">
        <h2>PROJECT GOALS (I)</h2>
        <p>
          The Canary Islands have a rich history spanning thousands of years, with indigenous civilisations predating European arrival in the 15th century. While the territory and its people have evolved over time through cultural exchanges, the essence remains rooted in this mix. Despite limited evidence of this past in the modern era, preserving our heritage is crucial. Santana Santana, from Gran Canaria, approached me to explore our ancestral history, recognising the importance of understanding our roots for shaping the future.
        </p>
        <p>
          We aimed to depict the three primary traditional trades in El Hierro: drum artisans, weaver artisans, and cheese artisans. These occupations were central to the island's economy in the mid-20th century and symbolise its cultural heritage.
        </p>

        <!-- Image Section -->
        <div class="lava-img">
          <Image class="lazy-image" src={img3} alt="Person holding a Lava Circular branded glass." width={1080} height={1623} />
          <Image class="lazy-image" src={img1} alt="Lava Circular poster displayed in a forest." width={1000} height={1503} />
          <Image class="lazy-image" src={img2} alt="People conversing in front of a Lava Circular poster." width={1000} height={1503} />
        </div>
      </section>

      <section aria-labelledby="project-goals-ii" style="height: max-content;">
        <h2>PROJECT GOALS (II)</h2>
        <p>
          We watched numerous videos of artisans at work and endeavoured to distill their movements into minimal expressions. Rafa had a keen eye for this and was able to replicate it while also considering the composition of the drawings, playing with all elements within each scene to convey a sense of coherence.
        </p>
        <!-- Lottie Animation -->
        <div class="lottie-container lazy-lottie" style="grid-column-start: 1; grid-column-end: 2; height: 100%; aspect-ratio: 9 / 12" aria-label="Lava milkmaid animation">
          <dotlottie-player src="/animations/lava-milkmaid.json" speed="1" loop autoplay></dotlottie-player>
        </div>
      </section>

      <!-- Graphic Elements Section -->
      <section aria-labelledby="graphic-elements" style="height: max-content;">
        <h2 id="graphic-elements">GRAPHIC ELEMENTS</h2>
        <p>
          In addition to the captivating animations and illustrations, typography assumes a pivotal role in shaping the overall visual narrative. Employing the Droulers font —crafted by the esteemed Bureau Brut foundry—, adds a distinct layer of character to the composition. This monospaced typeface exudes a remarkable personality, distinguished by its intricate ornamental flourishes. These embellishments not only lend a touch of sophistication but also forge a compelling visual interplay, seamlessly juxtaposing the illustrations' language with an undeniable coherence.        </p>
        <div class="lava-img-2">
          <Image class="lazy-image" src={img5} alt="Ticket stand with an ocean view in the background." width={750} height={1334} />
          <Image class="lazy-image" src={img4} alt="Lava Circular poster displayed inside a bar." width={750} height={1334} />
          <Image class="lazy-image" src={img6} alt="Lava Circular poster displayed inside a bar." width={750} height={1334} />
          <Image class="lazy-image" src={img7} alt="Lava Circular poster displayed inside a bar." width={750} height={1334} />
        </div>
      </section>
      <!-- Drawing Section -->
      <section aria-labelledby="drawing" style="height: max-content;">
        <h2 id="drawing">DRAWING</h2>
        <p>
          One of the primary challenges in the illustration aspect was infusing a sense of playfulness. Working with a limited color palette compelled me to focus on body shapes for expression. I opted for slightly thicker and larger bodies, as individuals from rural areas are often robust and sturdy. This deliberate disproportionality aimed to capture their physical presence authentically.
        </p>
        <p>
          To inject a playful vibe, I experimented with perspectives, resulting in drawings that feel whimsically odd yet visually coherent. Notably, the characters' faces are not visible, emphasising their profession or activity, adding an intriguing layer to the illustrations.
        </p>
        <div class="lottie-container lazy-lottie" style="grid-column-start: 1; grid-column-end: 2; height: 100%; aspect-ratio: 9 / 12" aria-label="Lava drum animation">
          <dotlottie-player src="/animations/lava-drum.json" speed="1" loop autoplay></dotlottie-player>
        </div>
      </section>

      <!-- Sketches Carousel -->
      <section aria-labelledby="sketches" style="height: max-content;">
        <h2 id="sketches">SKETCHES</h2>
        <p>
          One particularly beautiful and interesting aspect was the process of creating the illustrations. Many of them were drawn during my time in La Gomera. I decided to spend the summer exploring the island and stayed in a sustainable cabin in the heart of Valle Hermoso. Each night, we were serenaded by the chirping of crickets, fully immersed in nature. I often found myself sketching by the sea, accompanied by the rhythmic crash of waves, or amidst the tranquil mountains.        </p>
        <p>
          My grandfather belonged to the last generation of residents in Las Palmas de Anaga, one of Tenerife's most remote villages. Growing up, I witnessed firsthand the toil of rural life—watching my grandfather craft cheese and observing elders weaving fabrics or carrying potato bags. This upbringing deeply roots me in the land and its traditions.        </p>
        <div class="lava-sketches">
          <button style="font-size: 1.2em; outline: none; background-color: white; padding: 0; border: 0; color: black;"  onclick="plusDivs(-1)" aria-label="Previous Sketch">&lt;</button>
          <div class="w3-content w3-display-container">
            <Image src={img12} alt="Sketch of a drum artisan making a drum" width={1389} height={1000} loading='lazy' class="mySlides lazy-image"/>
            <Image src={img17} alt="Sketches of drums and canarian instruments" width={1389} height={1000} loading='eager'class="mySlides"  />
            <Image src={img10} alt="Sketches of canarian cheese" width={1389} height={1000} loading='eager' class="mySlides lazy-image" />
            <Image src={img11} alt="Sketches of a milkmaid making cheese" width={1389} height={1000} loading='eager' class="mySlides"  />
            <Image src={img8}  alt="Sketches of the process of making canarian cheese with a milkmaid" loading='eager' width={1389} height={1000} class="mySlides" />
            <Image src={img13} alt="Sketches of diverse canarian traditional elements" width={1389} loading='eager' height={1000} class="mySlides" />
            <Image src={img14} alt="Sketches of a man crafting cheese and a table with food" width={1389} loading='eager' height={1000} class="mySlides" />
            <Image src={img15} alt="Sketches of a traditional canarian basketmaker and baskets" width={1389} loading='eager' height={1000} class="mySlides" />
            <Image src={img16} alt="Sketches of a loom artisan working" width={1389} height={1000} loading='eager' class="mySlides" />
            <Image src={img9}  alt="Sketches of a basket artisan working" width={1389} height={1000} loading='eager' class="mySlides" />
            <Image src={img18} alt="Sketches of a traditional bag of El Hierro" width={1389} height={1000} loading='eager' class="mySlides" />
            <Image src={img19} alt="Sketches of a traditional bag of El Hierro with flowers" width={1389} height={1000} loading='eager' class="mySlides" />
            <Image src={img20} alt="Sketches of a milkmaid making traditional canarian cheese" width={1389} height={1000} loading='eager' class="mySlides" />
          </div>
          <button style="font-size: 1.2em; outline: none; background-color: white; padding: 0; border: 0; color: black;" onclick="plusDivs(+1)" aria-label="Next Sketch">&gt;</button>
        </div>
      </section>
      <!-- Project Links -->
      <section class="project-credits" aria-labelledby="project-links">
        <h2 id="project-links">CREDITS</h2>
        <ul>
          <li>
            <h3>PROJECT</h3>
            <a href="http://lavacircular.com" target="_blank">Lava Circular</a>
          </li>
          <li>
            <h3>ORGANIZERS</h3>
            <a href="http://hisla.org" target="_blank">Hisla</a>
          </li>
          <li>
            <h3>ART DIRECTION</h3>
            <a href="https://santanasantana.es" target="_blank">Santanasantana Studio</a>
          </li>
          <li>
            <h3>ANIMATION</h3>
            <a href="https://www.instagram.com/rjgrullon/" target="_blank">Rafael Grullón</a>
          </li>
          <li>
            <h3>PHOTOGRAPHY</h3>
            <a href="https://www.adririos.com" target="_blank">Adrián Ríos</a>
          </li>
        </ul>
      </section>      
    </section>

    <!-- Close Link -->
    <footer class="project-container-bot">
      <a id="lavaCloseLink" href="/works?from=details">CLOSE PROJECT</a>
    </footer>

  </article>
</main>

<script is:inline>
document.addEventListener('DOMContentLoaded', () => {
  lavaSlider();
});

function lavaSlider() {
  let slideIndex = 1;
  showDivs(slideIndex);

  function showDivs(n) {
    const x = document.getElementsByClassName("mySlides");

    if (x.length === 0) {
      console.error("No elements with the class 'mySlides' found.");
      return;
    }

    if (n > x.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = x.length;
    }

    for (let i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }

    x[slideIndex - 1].style.display = "block";
  }

  window.plusDivs = function (n) {
    showDivs(slideIndex += n);
  };
}
</script>
