---
import Menu from './Menu.astro';
import { Image } from 'astro:assets';

const { imageSrc, imageAlt, containerClass, imageStyles, headerClass, worksButtonClass, aboutButtonClass, worksLink, aboutLink, menuImageClass } = Astro.props;
---

<header class={`menu-opened ${headerClass}`} role="banner">
  <Menu 
  worksButtonClass={worksButtonClass} 
  aboutButtonClass={aboutButtonClass} 
  worksLink={worksLink}
  aboutLink={aboutLink}
  />
  <div class={`MenuImageContainer ${containerClass}`} style={imageStyles}>
    <Image src={imageSrc} class={menuImageClass} alt={imageAlt} loading="eager" />
  </div>
</header>
