---
const { worksButtonClass, aboutButtonClass, contactButtonClass, instagramButtonClass, WordClass, worksLink, aboutLink, disableButtonClass1, disableButtonClass2} = Astro.props;
---
    <nav role="navigation">
      <ul>
        <li id="worksButton" class={worksButtonClass}><a class={`${WordClass} ${disableButtonClass1}`} href={worksLink}>WORKS</a></li>
        <li id="aboutButton" class={aboutButtonClass}><a class={`${WordClass} ${disableButtonClass2}`} href={aboutLink}>ABOUT</a></li>
        <li id="contactButton" class={contactButtonClass}><a class={WordClass} href="mailto:hello@jhonboy.com">CONTACT</a></li>
        <li id="instagramButton" class={instagramButtonClass}><a class={WordClass} href="https://www.instagram.com/jhon_boy" target="_blank">INSTAGRAM<span class="arrow">&#8599;</span></a></li>
      </ul>
    </nav>
  