---
interface Props {
  imagePath: string;
  description: string;
  project: {
    type: string;
    className: string;
    images: { src: string; alt: string }[];
    captions: {
      left: string;
      right: string;
    };
  };
  projectsImagesClass: string;
}

const { project, projectsImagesClass } = Astro.props as Props;
const { type, className, images, captions } = project;

---

<script src="../scripts/lazy-loading-images.js"></script>

{className.includes('slider') ? (
  <figure class={`${className} ${type}`}>
    <div class="slide-track">
      {images.map(({ src, alt }) => (
        <div class="slide">
          <img
            src={`/images/${src}`}
            alt={alt}
            loading="lazy"
            class={`${projectsImagesClass} lazy-image`}
            srcset={`
              /images/${src}?w=1024 1024w,
              /images/${src}?w=1920 1920w,
              /images/${src}?w=2560 2560w,
              /images/${src}?w=3840 3840w
            `}
            sizes="(max-width: 1024px) 100vw, (max-width: 1920px) 100vw, (min-width: 2560px) 2560px"
            style="border-bottom: 1px solid black"
          />
        </div>
      ))}
    </div>
    <figcaption>
      <span set:html={captions.left}></span>
      <span>{captions.right}</span>
    </figcaption>
  </figure>
) : (
  <figure class={`project ${className} ${type}`}>
    {images.length > 0 && images.map(({ src, alt }) => (
      <div style="background-color: white;">
        <img
          src={`/images/${src}`}
          alt={alt}
          loading="lazy"
          class={`${projectsImagesClass} lazy-image`}
          srcset={`
            /images/${src}?w=1024 1024w,
            /images/${src}?w=1920 1920w,
            /images/${src}?w=2560 2560w,
            /images/${src}?w=3840 3840w
          `}
          sizes="(max-width: 1024px) 100vw, (max-width: 1920px) 100vw, (min-width: 2560px) 2560px"
        />
      </div>
    ))}
    <figcaption>
      <span set:html={captions.left}></span>
      <span>{captions.right}</span>
    </figcaption>
  </figure>
)}