---
import { Image } from 'astro:assets';

interface Props {
  imagePath: string;
  description: string;
  project: {
    type: string;
    className: string;
    images: { src: string; alt: string; width: number; height: number }[];
    captions: {
      left: string;
      right: string;
    };
  };
  projectsImagesClass: string;
}

const { project, projectsImagesClass } = Astro.props as Props;
const { type, className, images, captions } = project;

---

<script src="../scripts/lazy-loading-images.js"></script>

{className.includes('slider') ? (
  <figure class={`${className} ${type}`}>
    <div class="slide-track">
      {images.map(({ src, alt, width, height }) => (
        <div class="slide">
          <Image 
            src={`${src}`} 
            alt={alt}
            width={width}
            height={height} 
            loading="lazy"
            class={`${projectsImagesClass} lazy-image`}
            style="border-bottom: 1px solid black"
          />
        </div>
      ))}
    </div>
    <figcaption>
      <span set:html={captions.left}></span>
      <span>{captions.right}</span>
    </figcaption>
  </figure>
) : (
  <figure class={`project ${className} ${type}`}>
    {images.length > 0 && images.map(({ src, alt, width, height }) => (
      <div style="background-color: white;">
        <Image 
          src={`${src}`}
          alt={alt}
          width={width}
          height={height}
          loading="lazy"
          class={`${projectsImagesClass} lazy-image`}
        />
      </div>
    ))}
    <figcaption>
      <span set:html={captions.left}></span>
      <span>{captions.right}</span>
    </figcaption>
  </figure>
)}