---
// BaseLayout.astro

const { title, description, keywords, canonicalUrl, ogImage, twitterImage, dataPage } = Astro.props;
import SpeedInsights from '@vercel/speed-insights/astro';
import '../styles/styles.css';
import '../styles/animations.css';
---

<!doctype html>
<html lang="en" data-page={dataPage}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <meta name="description" content={description}>
  <meta name="keywords" content={keywords}>
  <meta name="author" content="Jhon Boy">
  <link rel="canonical" href={canonicalUrl}>
  <link rel="icon" type="image/svg+xml" href="/jhon-boy-favicon.svg">
  <meta property="og:title" content={title}>
  <meta property="og:description" content={description}>
  <meta property="og:url" content={canonicalUrl}>
  <meta property="og:image" content={ogImage}>
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content={title}>
  <meta name="twitter:description" content={description}>
  <meta name="twitter:image" content={twitterImage}>
</head>
<body>
  <slot>
  <SpeedInsights />
</body>
</html>
