---
import SpeedInsights from '@vercel/speed-insights/astro';
import '../styles/styles.css';

const { title, description, imageUrl } = Astro.props || {
    title: "Works by Jhon Boy - Portfolio of Illustrations & Art",
    description: "Explore the portfolio of Jhon Boy, artist, illustrator and programmer from Tenerife, Canary Islands.",
    imageUrl: "https://jhonboy.com/og-image-default.jpg"
  };
---
  
  <!doctype html>
  <html lang="en" data-page="lava">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content="Jhon Boy, portfolio, illustrations, artwork, illustration, design, art, colours, flat, projects, Tenerife, It's Nice That, Uniqlo, Lava Circular, Wix Playground, D&AD, Canary Islands, Programming, Ace&Tate">
    <meta name="author" content="Jhon Boy">
    <link rel="canonical" href="https://jhonboy.com/works">
    <link rel="icon" type="image/svg+xml" href="/jhon-boy-favicon.svg">
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://jhonboy.com/works">
    <meta property="og:image" content={imageUrl} />
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={imageUrl} />
  </head>
  <body>
      <slot></slot>
      <script>
          import '@dotlottie/player-component';
      
          document.addEventListener('DOMContentLoaded', () => {
    const previousPage = localStorage.getItem('previousPage') || 'direct';
    const currentPage = document.documentElement.dataset.page;

    // Cargar y ejecutar el script de animaciones
    import('../scripts/pages-animations.js').then(animationModule => {
        animationModule.applyAnimation(previousPage, currentPage);
    });

    // Cargar y ejecutar funciones adicionales de botones
    import('../scripts/buttons-functions.js').then(buttonsModule => {
        buttonsModule.rightWorksButtons();
    });

    // Cargar y ejecutar lavaSlider
    import('../scripts/lava.js').then(lavaModule => {
        lavaModule.lavaSlider();
    });

    // Guardar la página actual en el almacenamiento de la sesión
    localStorage.setItem('previousPage', currentPage);

    // Guardar la posición de desplazamiento del elemento works-content antes de abandonar la página
    window.addEventListener('beforeunload', () => {
        const worksContent = document.querySelector('.projects-wrap');
        if (worksContent) {
            sessionStorage.setItem('worksContentScrollPosition', worksContent.scrollTop.toString());
        }
    });

    // Restaurar la posición de desplazamiento del elemento works-content al cargar la nueva página
    const worksContent = document.querySelector('.projects-wrap');
    const scrollPosition = sessionStorage.getItem('worksContentScrollPosition');
    if (worksContent && scrollPosition) {
        worksContent.scrollTop = Number(scrollPosition);
    }
});

        </script>
    <SpeedInsights />
  </body>
  </html>
  